/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-image: url(Fondo\ para\ Whatsapp\ de\ Fútbol\ Deportivo\ Ilustrado\ Verde.png);
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Evitar scroll cuando las imágenes se mueven */
}

header.header {
    background: rgba(0, 123, 255, 0.9); /* Color de fondo con transparencia */
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header.header p {
    font-size: 1.2em;
    margin-bottom: 0;
}

section {
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px; /* Limitando el ancho de las secciones */
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.btn-inscripcion {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn-inscripcion:hover {
    background: #c70039;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    width: 30%;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer.footer {
    background: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Para que esté detrás del contenido */
}

.floating-image {
    position: absolute;
    width: 100px; /* Tamaño de las imágenes, puedes ajustarlo según sea necesario */
    height: 100px; /* Tamaño de las imágenes, puedes ajustarlo según sea necesario */
    pointer-events: none; /* Para que las imágenes no interfieran con el contenido */
}
